<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="../Stylesheet/style.css">
</head>

<body>
    <h1>Jai Shree Ram</h1>
    <h2>SignUp fast...</h2>
    <form action="/create" method="post">
        <input type="text" name="username" id="" placeholder="Enter username" class="input-box">
        <input type="email" name="email" id="" placeholder="Enter email" class="input-box">
        <input type="password" name="password" id="" placeholder="Enter password" class="input-box">
        <input type="number" name="age" id="" placeholder="Enter age" class="input-box">
        <button type="submit" class="btn">SignUp</button>
        <a class="a-tag" href="/login">SignIn</a>
    </form>
</body>

</html>