<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../Stylesheet/style.css">
</head>

<body>
    <h1>Login Here...</h1>
    <form action="/login" method="post">
        <input type="email" name="email" id="" placeholder="Enter email" class="input-box">
        <input type="password" name="password" id="" placeholder="Enter password" class="input-box">
        <button type="submit" class="btn">Login</button>
        <a class="a-tag" href="/">SignUp</a>

    </form>

    
</body>

</html>