<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Sorry, the Email doesn't exists in DataBase...</h2>
    <a href="/login">Back to Login...</a>


    <% if (typeof errorMessage !== 'undefined') { %>
        <script>
          alert("<%= errorMessage %>");
        </script>
      <% } %>
</body>
</html>