<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="../Stylesheet/style.css">
</head>
<body>
    <h1>Profile</h1>
    <a class="logout" href="/logout">Logout</a>
    <h3>Hi, <%= userData.username %> Welcome ...</h3>
    <h4>Write Your Post Here !!!</h4>
    <form action="" method="post">
        <textarea class="post-area" name="" id="" cols="40" rows="5"></textarea>
        <br>
        <input class="createpost" type="submit" value="Create Post">
    </form>
    
    <div class="postContainer">
        <h4>@someuser</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, vitae.</p>
        <a class="a-tagPost" href="">Like</a>
        <a class="a-tagPost" href="">Edit</a>
    </div>
    <div class="postContainer">
        <h4>@someuser</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, vitae.</p>
        <a class="a-tagPost" href="">Like</a>
        <a class="a-tagPost" href="">Edit</a>
    </div>
    <div class="postContainer">
        <h4>@someuser</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, vitae.</p>
        <a class="a-tagPost" href="">Like</a>
        <a class="a-tagPost" href="">Edit</a>
    </div>
    <div class="postContainer">
        <h4>@someuser</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, vitae.</p>
        <a class="a-tagPost" href="">Like</a>
        <a class="a-tagPost" href="">Edit</a>
    </div>
    <div class="postContainer">
        <h4>@someuser</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, vitae.</p>
        <a class="a-tagPost" href="">Like</a>
        <a class="a-tagPost" href="">Edit</a>
    </div>
    <div class="postContainer">
        <h4>@someuser</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, vitae.</p>
        <a class="a-tagPost" href="">Like</a>
        <a class="a-tagPost" href="">Edit</a>
    </div>
</body>
</html>