<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link rel="stylesheet" href="../Stylesheet/style.css">
</head>

<body>
    <h1>Jai Shree Ram</h1>
    <h2>File Upload...</h2>
    <form action="/upload" method="post"  enctype="multipart/form-data">
        <input type="file" name="multerfile"   class="input-box">
        <button type="submit" class="btn">Upload File</button>
    </form>
</body>

</html>