*{
    background-color: dimgrey;
    color: white;
}

.inputClass{
    background-color: black;
    padding: 5px;
    display: block;
    margin: 5px;
    border-radius: 10px;
    color: white;
}

.btn{
    padding: 5px;
    background-color: rgb(0, 195, 254);
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.profile-View{
    height: 200px;
    width: 200px;
    /* background-color: orange; */
    border: 2px dotted whitesmoke;
    padding: 3px;
    border-radius: 10px;
    display: inline-table;
    margin: 5px;
}

.image{
    border-radius: 10px;
}

.a-tag{
    font-size: large;
    font-weight: 600;
    margin: 8px;
    background-color:#1b75d0 ;
    color:   white;
    border-radius: 3px;
    padding:3px;
}
.delete{
    font-size: large;
    font-weight: 600;
    margin: 8px;
    background-color:rgb(236, 25, 25) ;
    color:   white;
    border-radius: 3px;
    padding:3px;
}
.update{
    font-size: large;
    /* font-weight: 600; */
    margin: 8px;
    background-color:#1b75d0 ;
    color:   white;
    border-radius: 3px;
    padding:3px;
}