<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="../stylesheet/style.css">
</head>

<body>
    <h1>Jai Shree Ram</h1>

    <a href="/show" class="a-tag">Check User List</a>
    <form action="/create" method="post" >
        <input type="text" class="inputClass" name="username" placeholder="Enter Name">
        <input type="number" class="inputClass" name="number" placeholder="Enter Phone No.">
        <input type="text" class="inputClass" name="email" placeholder="Enter Email">
        <input type="text" class="inputClass" name="image" placeholder="Enetr Image Url">
        <button class="btn" type="submit">Save</button>
    </form>
</body>

</html>