<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body style="background-color: black; color: white;">
    <h1>Login Page</h1>
    <form action="/login" method="post">
        <input type="email" name="email" id="" placeholder="Enter Eamil">
        <input type="password" name="password" id="" placeholder="Enter Password">
        <button type="submit">Login</button>
    </form>
</body>

</html>